/*----index.html----*/
/*----index.html----*/
:root [animation="jc"]{
    animation: jcani 2s;
}
:root [animation="jc-2"]{
    animation: jcani 3s;
}
@keyframes jcani {
    0%{
        opacity: 0;
        transform: translate(0,-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}
/*--菜单栏--*/
.navbar{
    width: 100%;
    height: 60px;
    background-color: rgba(201, 201, 201, 0.555);
    position: fixed;
    left: 0;
    top: 0;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.navbar h1{
    margin-right: 5%;
    font-weight: 400;
}
.navbar a{
    display: none;
}
.lant{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.541);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 61px;
    transition: all 0.8s;
    z-index: 994;
    text-align: center;
}
.lant a{
    margin-left: 15px;
    padding: 20px 30%;
    transition: all 0.2s;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
    float: left;
}
.lant a:hover{
    background-color: rgba(240, 248, 255, 0.411);
}
/*--内容区域--*/
.text{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(20, 20, 20, 0.541);
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 100;
}
.ti-zao{
    width: 100%;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ti-zao h1{
    font-size: 3em;
}
.ti-zao  p{
    font-size: 1.4em;
}
.ti-js{
    width: 100%;
    height: 95vh;
    background-color: rgba(172, 172, 172, 0);
    font-size: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1.5s;
}
.card-zu{
    width: 100%;
    min-height: 200px;
    background-color: rgb(31, 31, 31);
    color: aliceblue;
}
.tz-btn{
    min-width: 120px;
    height: 75px;
    font-size: 0.7em;
    border: none;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 12px;
    transition: all .3s;
}
.tz-btn:hover{
    background-color: rgba(0, 0, 0, 0.671);
    transform: scale(1.02);
}
.tz-btn:active{
    transform: scale(0.98);
}
.muban{
    width:100%;
    min-height: 100px;
    margin:0 auto;
    background-color: rgb(187, 187, 187);
}

.muban a{
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgb(143, 143, 143);
    color: aliceblue;
    transition: all 0.2s;
}
.muban a:hover{
    background-color: rgba(214, 214, 214, 0.432);
}
